button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0em 1em 1em;
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 4px 6px 0px black;
  border: 4px solid;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  transition:
    box-shadow 250ms,
    transform 250ms,
    filter 50ms;
}
button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 3px 0px black;
}
button:active {
  filter: saturate(0.75);
}
button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
button:hover::after {
  transform: translateX(0);
}
.bgContainer {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  height: 1.5em;
  min-width: 120px;
  font-size: clamp(1rem, 4vw, 1.5rem);
  gap: 15px;
}
.bgContainer span {
  position: relative;
  transform: translateX(-100%);
  transition: all 250ms;
  left: 0;
  white-space: nowrap;
}

.bgContainer span:nth-child(1) {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}

.bgContainer span:nth-child(2) {
  position: absolute;
  transform: translateX(100%);
  opacity: 0;
}

button:hover .bgContainer span:nth-child(1) {
  transform: translateX(-100%);
  opacity: 0;
}

button:hover .bgContainer span:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}

.arrowContainer {
  padding: 1em;
  margin-inline-end: 1em;
  border: 4px solid;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition:
    transform 250ms,
    background-color 250ms;
  z-index: 100;
}
.arrowContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 250ms ease-in-out;
}
button:hover .arrowContainer::after {
  transform: translateX(0);
}
button:hover .arrowContainer {
  transform: translateX(5px);
}
button:active .arrowContainer {
  transform: translateX(8px);
}
.arrowContainer svg {
  vertical-align: middle;
}
