.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: auto;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}
