.movie-card {
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  flex-direction: column;
  margin: 0 auto;
}

.movie-card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.movie-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.container-movies {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 200px;
}

.movie-card .rating {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: rgb(53, 52, 52);
  line-height: 1;
}

img {
  width: 100%;
  max-height: 270px;
  border-radius: 17px;
  border: 2px solid black;
}
