.container-watchlist {
  --color-0: #fff;
  --color-1: #111;
  --color-2: #222;
  --color-3: #333;
  --color-4: #2e2e2e;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--color-1);
  background-image:
    linear-gradient(
      to top,
      var(--color-2) 5%,
      var(--color-1) 6%,
      var(--color-1) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--color-1) 30%, transparent 80%),
    linear-gradient(
      to right,
      var(--color-2),
      var(--color-4) 5%,
      transparent 5%
    ),
    linear-gradient(
      to right,
      transparent 6%,
      var(--color-2) 6%,
      var(--color-4) 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      var(--color-2) 27%,
      var(--color-4) 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      var(--color-2) 51%,
      var(--color-4) 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--color-1) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      var(--color-2) 42%,
      var(--color-4) 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      var(--color-2) 45%,
      var(--color-4) 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      var(--color-2) 48%,
      var(--color-4) 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      var(--color-2) 87%,
      var(--color-4) 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--color-1) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      var(--color-2) 14%,
      var(--color-4) 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--color-1) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      var(--color-2) 10%,
      var(--color-4) 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      var(--color-2) 21%,
      #1a1a1a 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      var(--color-2) 58%,
      var(--color-4) 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      var(--color-2) 92%,
      var(--color-4) 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--color-1) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      var(--color-2) 96%,
      #1a1a1a 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--color-1) 76%,
      var(--color-1) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--color-1) 86%,
      var(--color-1) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      var(--color-2) 35%,
      var(--color-4) 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--color-1) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      var(--color-3) 78%,
      var(--color-3) 80%,
      transparent 80%,
      transparent 82%,
      var(--color-3) 82%,
      var(--color-3) 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      var(--color-2) 66%,
      var(--color-4) 85%,
      transparent 85%
    );

  background-size: 300px 150px;
  background-position: center bottom;
}

.text-watch {
  color: white;
  font-size: 5ch;
  border-bottom: 2px solid white;
  margin-top: 30px;
}
