button {
  background: white;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: clamp(14px, 2vw + 10px, 18px);
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  max-width: fit-content;
}

.home-btn {
  flex: 1;
}

.home-btn .active {
  color: rgb(204, 27, 56);
}

.watchlist-btn {
  flex: 1;
}

.watchlist-btn .active {
  color: rgb(204, 27, 56);
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.homeBtn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: auto;
}
