.button {
  background: white;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: clamp(14px, 2vw + 10px, 18px);
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.button select {
  margin-left: 20px;
  border: 2px solid black;
}

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.filterBtn-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  flex-wrap: wrap;
}
